__pycache__/style.cpython-39.pyc
App.py
__pycache__/database.cpython-39.pyc
__pycache__/App.cpython-39.pyc
models.json
E61945A9A512ED5E1A3EE3F1A2365B88F8FE_E4E9EADA96734F01970E616FAB2FAC19
__pycache__/App.cpython-38.pyc
.vscode/settings.json
__pycache__/App.cpython-38.pyc
